<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <%= csrf_meta_tag() %>
    <%= live_title_tag assigns[:page_title] || "Gumroad", suffix: " · Phoenix Framework" %>
    <link phx-track-static rel="stylesheet" href={Routes.static_path(@conn, "/assets/app.css")}/>
    <script defer phx-track-static type="text/javascript" src={Routes.static_path(@conn, "/assets/app.js")}></script>
  </head>
  <body class="flex flex-col gap-4 min-h-screen min-w-screen bg-gray-50 text-gray-900">
    <header class="flex items-center justify-between px-4 sm:px-6 lg:px-8 py-4">
    </header>
    <%= @inner_content %>
    <footer class="mt-auto">
      <div class="max-w-7xl mx-auto overflow-hidden px-4 sm:px-6 lg:px-8 py-4">
        <div class="mt-8 text-xl flex gap-2 items-center justify-center">
          <p>Gumroad</p>
        </div>
      </div>
    </footer>
  </body>
</html>
